// ================================================================================================
//   File Name: pallette-climacon.scss
//   Description: climacon color system styles
//   ----------------------------------------------------------------------------------------------
//   Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
//    Version: 1.0
//   Author: PIXINVENT
//   Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================


@function color-function($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  // @warn "Unknown `#{name}` in $colors.";
  @return null;
}

// Color palettes
@import "palette-variables";

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .climacon-#{$color_name}{
        .climacon_component-stroke{
          fill: $color_value;
        }
        .climacon_component-fill{
          fill: color-function($color_name, "lighten-4");
        }
      }
    }
    @else {
      .climacon-#{$color_name}.climacon-#{$color_type}{
        .climacon_component-stroke{
          fill: $color_value;
        }
      }
    }
  }
}