//	===============================================================================================
//  File Name: horizontal.scss
//  Description: Horizontal layout SASS file for layout related changes only
//  ----------------------------------------------------------------------------------------------
//  Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
//   Version: 1.0
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

.horizontal-menu-padding{
	.header-navbar {
		.navbar-container{
			padding: 0;
		}
	}
}
.header-navbar .navbar-container{
	height: auto;
}