<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
        <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
      </div>
      <div class="content-body">
        <section id="drag-area">
          <div class="row">
            <div class="col-md-12">
              <m-card>
                <ng-container mCardHeaderTitle>
                  Liste des textes
                </ng-container>
                <ng-container mCardBody>
                  <table class="table">
                    <thead class="bg-success white">
                        <tr>
                            <th>section</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listText">
                            <td>{{item.section}}</td>
                            <td>
                              <i (click)="onDelete(item._id)"  class="ft-trash-2 clickme mr-2"></i>
                              <i  (click)="onUpdate(item._id)" class="ft-edit-2 clickme"></i>
                          </td>
                        </tr>
                    </tbody>
                </table>
                </ng-container>
              </m-card>
              <m-card>
                <ng-container mCardHeaderTitle>
                  {{statutAdminPlat}} texte
                </ng-container>
                <ng-container mCardBody>
                  <form [formGroup]="text" (ngSubmit)="onSubmit()">

                    <input class="form-control border-primary" type="hidden" formControlName="id">

                    <div class="form-group">
                      <label>
                        Section
                      </label>
                        <input class="form-control border-primary" type="text" formControlName="section">
                    </div>
                    
                    <div class="form-group">
                      <label>
                        Texte :
                      </label>
                      <editor 
                      formControlName="text"
                      apiKey="qhuz93powmu8e6wgmbptfx4rsmbzjw26ur2y3o9qpes58wbp"
                      [init]="{
                        height: 500,
                        menubar: false,
                        plugins: [
                          'advlist autolink lists link image charmap print',
                          'preview anchor searchreplace visualblocks code',
                          'fullscreen insertdatetime media table paste',
                          'help wordcount'
                        ],
                        toolbar:
                          'undo redo | formatselect | bold italic | \
                          alignleft aligncenter alignright alignjustify | \
                          bullist numlist outdent indent | help'
                      }">
                    </editor>
                    </div>
                    <button class="btn btn-primary" type="submit" *ngIf="ajout" [disabled]="!text.valid">{{statutAdminPlat}} texte</button>
                    <button class="btn btn-warning" type="submit" *ngIf="!ajout" [disabled]="!text.valid">{{statutAdminPlat}} texte</button>
                  </form>
                </ng-container>
              </m-card>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  