<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
        <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
      </div>
      <div class="content-body">
        <section id="drag-area">
          <div class="row">
            <div class="col-md-12">
              <m-card>
                <ng-container mCardHeaderTitle>
                  Liste de vos plats
                </ng-container>
                <ng-container mCardBody>
                  <table class="table">
                    <thead class="bg-success white">
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listPlat">
                            <td>{{item.name}}</td>
                            <td>{{item.price}}€</td>
                            <td>{{item.type}}</td>
                            <td>
                              <i (click)="onDelete(item._id)"  class="ft-trash-2 clickme mr-2"></i>
                              <!-- <i  (click)="onUpdate(item._id)" class="ft-edit-2 clickme"></i> -->
                          </td>
                        </tr>
                    </tbody>
                </table>
                </ng-container>
              </m-card>
              <m-card>
                <ng-container mCardHeaderTitle>
                  {{statutAdminPlat}} facture
                </ng-container>
                <ng-container mCardBody>
                  <form [formGroup]="facture" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label>
                        Type de facture : 
                      </label>
                        <div *ngFor="let choice of typeFacture; let i=index" class="col-md-2">
                          <span class="custom-control custom-checkbox">
                            <input [value]="choice.value" [checked]="choice.ischecked" (change)="onCheckChange($event)" type="checkbox" class="custom-control-input" [name]="choice.value"
                              [id]="choice.value">
                            <label class="custom-control-label" [for]="choice.value">{{choice.value}}</label>
                          </span>
                        </div>
                    </div>
                    <input class="form-control border-primary" type="hidden" formControlName="id">

                    <div class="form-group">
                      <label>
                        Nom de la facture :
                      </label>
                        <input class="form-control border-primary" type="text" formControlName="name">
                    </div>
                    <div class="form-group">
                      <label>
                        Tâches :
                      </label>
                        <input class="form-control border-primary" type="text" formControlName="name">
                    </div>
                    
                    <button class="btn btn-primary" type="submit" *ngIf="ajout" [disabled]="!facture.valid">{{statutAdminPlat}} plat</button>
                    <button class="btn btn-warning" type="submit" *ngIf="!ajout" [disabled]="!facture.valid">{{statutAdminPlat}} plat</button>
                  </form>
                </ng-container>
              </m-card>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  