<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
        <!-- <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> -->
      </div>
      <div class="content-body">
        <section id="drag-area">
          <div class="row">
            <div class="col-md-12">
              <m-card>
                <ng-container mCardHeaderTitle>
                  Liste de vos plats
                </ng-container>
                <ng-container mCardBody>
                  <table class="table">
                    <thead class="bg-success white">
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Prix</th>
                            <th>code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ListTache">
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.price}}€</td>
                            <td>{{item.code}}</td>
                            <td>
                              <i (click)="onDelete(item._id)"  class="ft-trash-2 clickme mr-2"></i>
                              <i  (click)="onUpdate(item._id)" class="ft-edit-2 clickme"></i>
                          </td>
                        </tr>
                    </tbody>
                </table>
                </ng-container>
              </m-card>
              <m-card>
                <ng-container mCardHeaderTitle>
                  {{statutAdminTache}} tâche
                </ng-container>
                <ng-container mCardBody>
                  <form [formGroup]="tache" (ngSubmit)="onSubmit()">
                    <input class="form-control border-primary" type="hidden" formControlName="id">

                    <div class="form-group">
                      <label>
                        Nom de la tâche : 
                      </label>
                        <input class="form-control border-primary" type="text" formControlName="name">
                    </div>
                    
                    <div class="form-group">
                      <label>
                        Description de la tâche :
                      </label>
                        <input class="form-control border-primary" type="text" formControlName="description">
                      
                    </div>
                    <div class="form-group">
                      <label>
                        Prix :
                      </label>
                        <input class="form-control border-primary" type="text" formControlName="price">
                      
                    </div>
                    <div class="form-group">
                      <label>
                        Raccourci de la tâche :
                      </label>
                        <input class="form-control border-primary" type="text" formControlName="code">
                      
                    </div>
                    <button class="btn btn-primary" type="submit" *ngIf="ajout" [disabled]="!tache.valid">{{statutAdminTache}} plat</button>
                    <button class="btn btn-warning" type="submit" *ngIf="!ajout" [disabled]="!tache.valid">{{statutAdminTache}} plat</button>
                  </form>
                </ng-container>
              </m-card>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  