/* You can add global styles to this file, and also import other style files */

[class*=" ft-"], [class^=ft-] {
    font-family: feather!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clickme {
    cursor:pointer;
}